.app-style {
  padding: 20px;
  min-width: 800px;
  max-width: 1200px;
}
.headerStyle {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputStyle {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  height: 75px;

  display: flex;
  align-items: center;

  position: relative;
  padding: 15px;
  margin: 10px;
}

.titleClass {
  border-color: transparent;
  border-radius: 5px;
}

.textClass {
  border-color: transparent;
  border-radius: 5px;
}

#addBtn {
  position: absolute;
  right: 50px;
  border-radius: 10px;
  width: 100px;
}

#removeBtn {
  width: 100px;
}

#completeBtn {
  width: 100px;
}

.workingCards {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.doneCards {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.cardList {
  border: 5px solid rgb(155, 155, 161);
  border-radius: 10px;

  width: 300px;
  padding: 20px;
}
