body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-style {
  padding: 20px;

  min-width: 800px;
  max-width: 1200px;
}
.header-style {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-style {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  height: 75px;

  display: flex;
  align-items: center;

  position: relative;
  padding: 15px;
  margin: 10px;
}

.input-box {
  gap: 1rem;

  display: flex;
  flex-direction: row;
}

.title-class {
  border-color: transparent;
  border-radius: 5px;
  width: 7rem;
}

.text-class {
  border-color: transparent;
  border-radius: 5px;
  width: 7rem;
}

.date-class {
  border-color: transparent;
  border-radius: 5px;
  width: 8.5rem;
}

#addBtn {
  position: absolute;
  right: 50px;
  border-radius: 10px;
  width: 5rem;
}

.button-container {
  display: flex;
  justify-content: space-between;

  gap: 10px;
}

#removeBtn {
  width: 50%;
}

#completeBtn {
  width: 50%;
}

.card-container {
  gap: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-list {
  list-style-type: none;
}
.card {
  border: 5px solid rgb(155, 155, 161);
  border-radius: 10px;

  width: 300px;
  padding: 20px;
  margin: 10px;
}

.section-container {
  display: flex;
  flex-direction: row;
}

.card-section {
  margin: 20px;
}

/* order radio */
.order-radio {
  display: flex;
  flex-direction: row;
  justify-content: right;

  margin: 15px;
  gap: 10px;
}
