.app-style {
  padding: 20px;
}
.headerStyle {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputStyle {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  height: 75px;

  display: flex;
  align-items: center;

  position: relative;
  padding: 10px;
}

.addBtn {
  position: absolute;
  right: 50px;
}
.workingCards {
  display: flex;
  gap: 20px;
}

.doneCards {
  display: flex;
  gap: 20px;
}

.cardList {
  border: 5px solid rgb(101, 102, 206);
  border-radius: 10px;

  width: 300px;
  padding: 20px;
}
